@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-primary-light: #a78bfa;
  --color-accent: #f59e0b;
  --color-accent-light: #fbbf24;
  --color-bg-gradient-start: #7c3aed;
  --color-bg-gradient-end: #ec4899;
}
